# ALCHEMY
ALCHEMY_API_KEY=
GAS_MANAGER_POLICY_ID=

#PIMLICO
PIMLICO_API_KEY=

# TURNKEY
EXPO_PUBLIC_PASSKEY_RP_NAME=Kokio.app
EXPO_PUBLIC_RP_ID=docs.kokio.app
EXPO_PUBLIC_TURNKEY_API_URL=https://api.turnkey.com
TURNKEY_ORGANIZATION_ID=
TURNKEY_API_PUBLIC_KEY=
# Note: this should only be done in developement
# For a production app, make sure your private key is injected into your build system with an Expo secret
# This API "private" key should be as low value as possible and only permissioned to create new sub-organizations
# (even if correctly compiled in as a secret, this should be considered "public" for really eager power users...)
TURNKEY_API_PRIVATE_KEY=

# API Base URL
API_BASE_URL=
SERVER_BASE_URL=http://YOUR_IP_ADDRESS