# ALCHEMY
EXPO_PUBLIC_ALCHEMY_API_KEY=cccc

# TURNKEY
EXPO_PUBLIC_TURNKEY_ORGANIZATION_ID=ccccc
EXPO_PUBLIC_TURNKEY_API_PUBLIC_KEY=ccccc
# Note: this should only be done in developement
# For a production app, make sure your private key is injected into your build system with an Expo secret
# This API "private" key should be as low value as possible and only permissioned to create new sub-organizations
# (even if correctly compiled in as a secret, this should be considered "public" for really eager power users...)
EXPO_PUBLIC_TURNKEY_API_PRIVATE_KEY=ccccc
